/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-background:black;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

label {
	display: block;
}

header{
	display: flex;
}

header img{
max-width: 10%;
}

a{
	color: white;
}
ul{
	display: flex;
	gap: 2em;
	margin-left: 30em;

}

li{
	list-style: none;
}

li a{
	text-decoration: none;
}